mat-card.chart-card {
  background-color: white !important;
  margin: 10px;
  mat-card-content {
    height: 100%;
    overflow: auto;
    .chart-wrapper {
      max-height: 80%;
      height: 80%;
    }
  }
}
