<mat-card class="card-wrapper">
  <div class="header">
    <div class="header-text">
        <mat-icon class="example-header-image">account_balance</mat-icon>
        <div class="title_wrapper">
          <div class="title">Assets</div>
          <div class="subtitle">Asset usage overview</div>
        </div>
    </div>
    <div class="header-right">
      <mat-icon (click)="openAsset(null)">add_cirlce</mat-icon>
    </div>
  </div>
  <mat-card-content class="card-content-wrapper">
    <table matSort mat-table [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z2">

    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell mat-sort-header="{{column}}" *matHeaderCellDef> {{ column  }} </th>
      <ng-container *ngIf="column !== 'actions'; else actionBlock">
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <ng-template #actionBlock>
        <td mat-cell *matCellDef="let element" (click)="suppressEvent($event)">
          <div>
            <mat-icon color="primary" (click)="editAsset(element, $event)">edit</mat-icon>
            <mat-icon color="warn" (click)="deleteAsset(element)">delete</mat-icon>
          </div>
        </td>
      </ng-template>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="header-row"></tr>

    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element">
    </tr>   
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>



